<section id="home" data-parallax="scroll" class="showcase">
  <video src="https://file.saipulanuar.ga/file/VZ1XvTRJMxUZ.mp4"  
muted loop autoplay></video>
    <div class="overlay"></div>
    <div class="home-content">        
        <div class="row contents">                     
            <div class="home-content-left">
                <h3>Welcom To,</h3>
                <h1>
                   Ikiyy - Api
                </h1>
                <div class="buttons" data-aos="fade-up">
                    <a href="/users/login" class="button stroke">
                        <span><i class="fas fa-folder"></i></span>
                        Open Docs
                            </a>

                    <a href="https://Instagram.com/Ikiyyye" class="button stroke" target="__blank">
                        <span><i class="fas fa-code"></i></span>
                         Instagram 
                   
                    </a>
                    
                         </a>

                    <a href="https://wa.me/6285215319934" class="button stroke" target="__blank">
                        <span><i class="fas fa-code"></i></span>
                         Whatsapp
                   
                    </a>
                </div>                                 
            </div>
        </div>
    </div> 



